In [36]:
#read datafolder from Google Drive
from google.colab import drive
drive.mount('/content/drive')
data_folder = '/content/drive/My Drive/pg2k18/sem2/smai/smai_proj/reuters21578/'


sgml_number_of_files = 21
sgml_file_name_template = 'reut2-NNN.sgm'

# Category files
category_files = {
    'to_': ('Topics', 'all-topics-strings.lc.txt'),
    'pl_': ('Places', 'all-places-strings.lc.txt'),
    'pe_': ('People', 'all-people-strings.lc.txt'),
    'or_': ('Organizations', 'all-orgs-strings.lc.txt'),
    'ex_': ('Exchanges', 'all-exchanges-strings.lc.txt')
}

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [0]:
# Read all categories
category_data = []
category_dictionary={'Topics':[],'Places':[],'People':[],'Organizations':[],'Exchanges':[]}
for category_prefix in category_files.keys():
    with open(data_folder + category_files[category_prefix][1], 'r') as file:
        for category in file.readlines():
            category_data.append([category_prefix + category.strip().lower(), 
                                  category_files[category_prefix][0]])

# Create category dataframe
for i in category_data:
    category_dictionary[i[1]].append(i[0].split('_')[1])
news_categories = pd.DataFrame(data=category_data)

In [39]:
import re
import xml.sax.saxutils as saxutils
from bs4 import BeautifulSoup
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
lemmatizer = WordNetLemmatizer()

REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;\\n]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def cleanUpSentence(r):#, stop_words = None#
    r = r.lower().replace("<br />", " ")
    r = REPLACE_BY_SPACE_RE.sub(' ', r)
    r = BAD_SYMBOLS_RE.sub('', r)

    r = ' '.join(word for word in r.split() if word not in STOPWORDS)

    words = word_tokenize(r)

    for w in words:
        w = lemmatizer.lemmatize(w)

    return r

In [0]:
# Parse SGML files
def strip_tags(text):
    return re.sub('<[^<]+?>', '', text).strip()

def unescape(text):
    return saxutils.unescape(text)
  
def makeDict(filename, document_X):
  with open(filename, 'rb') as file:

    content = BeautifulSoup(file.read().lower(),'html.parser')

    for newsline in content('reuters'):
      document_categories = []

      document_id = newsline['newid']
      document_body = strip_tags(str(newsline('text')[0].body)).replace('reuter\n&#3;', '')
      if document_body == 'None':
        continue

      doc_categories = strip_tags(str(newsline('topics')[0].body))
      doc_categories = unescape(doc_categories)

      document_body = unescape(document_body)

      document_X[document_id] = document_body
      

def readFiles(test_data = False):
  document_X = {}
  
  if test_data == True:
    file_name = sgml_file_name_template.replace('NNN', '021')
    filename = data_folder + file_name
    makeDict(filename, document_X)
  else:
    for i in range(sgml_number_of_files):
      if i < 10:
        seq = '00' + str(i)
      else:
        seq = '0' + str(i)

      file_name = sgml_file_name_template.replace('NNN', seq)
      print('Reading file: %s' % file_name)
      filename = data_folder + file_name
      makeDict(filename, document_X)
  return document_X

In [42]:
document_X = readFiles()

Reading file: reut2-000.sgm
Reading file: reut2-001.sgm
Reading file: reut2-002.sgm
Reading file: reut2-003.sgm
Reading file: reut2-004.sgm
Reading file: reut2-005.sgm
Reading file: reut2-006.sgm
Reading file: reut2-007.sgm
Reading file: reut2-008.sgm
Reading file: reut2-009.sgm
Reading file: reut2-010.sgm
Reading file: reut2-011.sgm
Reading file: reut2-012.sgm
Reading file: reut2-013.sgm
Reading file: reut2-014.sgm
Reading file: reut2-015.sgm
Reading file: reut2-016.sgm
Reading file: reut2-017.sgm
Reading file: reut2-018.sgm
Reading file: reut2-019.sgm
Reading file: reut2-020.sgm

In [60]:
print(len(document_X))

18583

In [43]:
# data preprocessing
import numpy as np

nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [0]:
max_vocab_size = 200
def create_x_matrix(document_X):
    totalX = []
    for i, doc in document_X.items():
        totalX.append(cleanUpSentence(doc))
    
    input_tokenizer = Tokenizer(max_vocab_size)
    input_tokenizer.fit_on_texts(totalX)
    encoded_docs = input_tokenizer.texts_to_matrix(totalX, mode='count')
    return totalX,encoded_docs

In [0]:
totalX,encoded_docs = create_x_matrix(document_X)

In [0]:
#Create one-hot encode
def makeOneHotEncoding(totalX):
  words_in_body={}

  for i in range(len(totalX)):
      words=totalX[i].split(' ')
      words_in_body[i]=words    

  one_hot_label=[]
  for key,v in words_in_body.items():
      dict_temp={'Topics':0,'Places':0,'People':0,'Exchanges':0,'Organizations':0}
      for i in v:
          if i in category_dictionary['Topics']:
              dict_temp['Topics']+=1
          if i in category_dictionary['Places']:
              dict_temp['Places']+=1
          if i in category_dictionary['People']:
              dict_temp['People']+=1
          if i in category_dictionary['Exchanges']:
              dict_temp['Exchanges']+=1
          if i in category_dictionary['Organizations']:
              dict_temp['Organizations']+=1

      one_hot_label.append(dict_temp)


  one_hot_label_list = []
  for i in one_hot_label:

      one_hot_label_list.append(list(i.values()))
  return one_hot_label_list

In [0]:
one_hot_label_list = makeOneHotEncoding(totalX)

In [0]:
def getRankedOutput2(predicted_y):
  all_sorted_x = []
  for i in predicted_y:
    dict_temp={'Topics':i[0],'Places':i[1],'Peoples':i[2],'Exchanges':i[3],'Organizations':i[4]}
    sorted_x = sorted(dict_temp.items(), key=lambda kv: kv[1], reverse=True) 
    all_sorted_x.append(sorted_x)
  return all_sorted_x

In [0]:
def permissible(x, y):
  if (abs(x-y)) < 2:
    return True
  else:
    return False

def accuracy(predicted,actual):
    tp=0
    fp = 0
    tp_list = []
    length = len(actual)
    print("length: ",length)
    for one_doc_idx in range(length):
        if permissible(predicted[one_doc_idx][0],actual[one_doc_idx][0]) and permissible(predicted[one_doc_idx][1],actual[one_doc_idx][1])\
          and permissible(predicted[one_doc_idx][2],actual[one_doc_idx][2]) and permissible(predicted[one_doc_idx][3],actual[one_doc_idx][3]):
            tp+=1
            x = tp
        else:
          fp = 0
          x = fp
        tp_list.append(x)
    return tp/float(length), tp_list

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
X = np.array(encoded_docs)
y = np.array(one_hot_label_list)

In [0]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=200, min_samples_leaf = 5,random_state=0).fit(X, y)

In [0]:
doc_x_test = readFiles(test_data = True)
totalX_test ,encoded_docs_test = create_x_matrix(doc_x_test)
ground_truth_list = makeOneHotEncoding(totalX_test)

In [0]:
X_test = np.array(encoded_docs_test)
Y_test = np.array(ground_truth_list)

In [124]:
#Prediction and Calculating Accuracy
preds = clf.predict(X_test)
acc, tpl = accuracy(preds.tolist(), ground_truth_list)
print ("%f"%acc)
pred_rank_list = getRankedOutput2(np.array(preds))
actual_rank_list = getRankedOutput2(Y_test)

length:  460
0.658696

In [0]:
pd.set_option('max_colwidth', 100)
my_df  = pd.DataFrame(columns = ['body', 'predicted ranking', 'actual ranking', '_'])
my_df['body'] = totalX_test
my_df['predicted ranking'] = pred_rank_list
my_df['actual ranking'] = actual_rank_list
my_df['_'] = tpl

In [130]:
my_df = my_df.sort_values(by='_', ascending=False).reset_index(drop=True)
my_df[['body', 'predicted ranking', 'actual ranking']]

,body,predicted ranking,actual ranking
0,prospect dominant alliance socialists environmentalists ended social democrats became biggest lo...,"[(Topics, 1.0), (Peoples, 1.0), (Places, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Places, 1), (Topics, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
1,chase corp ltd chcawe said make offer fullypaid shares options entregrowth international ltd alr...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
2,orders nonfuel imports placed august rose seasonally adjusted 149 pct compared 10 pct rise july ...,"[(Topics, 1.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
3,philippines trade deficit widened 542 mln dlrs eight months endaugust 159 mln dlrs 1986 period n...,"[(Topics, 1.0), (Peoples, 1.0), (Places, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 2), (Places, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
4,income tax surcharge capital gains tax could bring urgently needed depreciation nz dollar indepe...,"[(Topics, 3.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 3), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
5,nippon shinpan co ltd nshtt agreed mastercard international issue new credit card called nippon ...,"[(Topics, 1.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Places, 1), (Topics, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
6,continental airlines inc said frontier airlines bought last year sought approval us bankruptcy c...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
7,nine months ended august 31 group shr 11866 yen vs 10089 yen group shr per ads 23732 vs 20178 ne...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
8,equiticorp holdings ltd equwwe owns received acceptances representing 5993 pct issued ordinary s...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
9,sharp rise soviet sugar consumption since start kremlins antialcohol drive indicates home brewin...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 3), (Peoples, 1), (Places, 0), (Exchanges, 0), (Organizations, 0)]"
10,british printing communication corporation plc bpcll proposed cancellation preference shares ret...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
11,west german finance ministry declined comment weekend criticism us treasury secretary james bake...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
12,norways current account showed 99 billion crown deficit first seven months 1987 197 billion crow...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
13,iran warned united states monday exacerbating gulf crisis saying would endanger american interes...,"[(Places, 4.0), (Topics, 1.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Places, 5), (Topics, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
14,hyundai auto canada inc unit south koreas hyundai motor co hyunse expected award chemical asia l...,"[(Topics, 1.0), (Exchanges, 1.0), (Places, 0.0), (Peoples, 0.0), (Organizations, 0.0)]","[(Topics, 2), (Places, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
15,venezuelan central bank president hernan anzola submitted resignation asked president jaime lusi...,"[(Topics, 3.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 3), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
16,sprint ii special purpose corporation based cayman islands issuing 35 mln dlrs floating rate bon...,"[(Topics, 1.0), (Places, 1.0), (Peoples, 1.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
17,south yemen planning major oil pipeline system completed 18months time start exports initial rat...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
18,us defense department spokesman said information london oil stock market rumors united states la...,"[(Places, 4.0), (Topics, 1.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Places, 3), (Topics, 1), (Peoples, 1), (Exchanges, 0), (Organizations, 0)]"
19,thai traders plan establish company regulate maize forward trading could first step towards comm...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 3), (Places, 1), (Exchanges, 1), (Peoples, 0), (Organizations, 0)]"
20,shr 52 cts vs 43 cts net 177 mln vs 142 mln sales 4131 mln vs 3616 mln avg shrs 343 mln vs 303 m...,"[(Topics, 3.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 3), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
21,shr 36 cts vs 36 cts shr diluted 34 cts vs 31 cts net 1 679 000 vs 1 418 000 sales 1472 mln vs 1...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
22,shr loss nine cts vs loss 12 cts net loss 649 000 vs loss 850 000 revs 5 059 000 vs 4 084 000 av...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
23,bechtel corp said formed joint venture control resource industries inc called bechtelcontrol asb...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
24,quantech electronics corp said common stock continue quoted nasdaq system due exception national...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Exchanges, 1), (Topics, 0), (Places, 0), (Peoples, 0), (Organizations, 0)]"
25,unidentified jets raided three iranian oil rigs southern gulf monday setting least one ablaze re...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
26,privatelyheld neorx corp said entered exclusive agreement genentech inc development injectable d...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
27,shr 18 cts vs 13 cts net 5 436 000 vs 3 888 000 sales 439 mln vs 315 mln avg shrs 30 145 000 vs ...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
28,shr 13 cts vs 12 cts net 1 612 000 vs 1 571 000 revs 288 mln vs 250 mln avg shrs 128 mln vs 133 ...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
29,deutsche bank ag joint chief executive friedrich wilhelm christians said believed louvre accord ...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
...,...,...,...
430,lsi logic corp said developed semicustom microchip twice dense complex chip available new microc...,"[(Topics, 3.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Peoples, 2), (Topics, 0), (Places, 0), (Exchanges, 0), (Organizations, 0)]"
431,chesapeake potomac telephone co maryland unit bell atlantic corp raising 100 mln dlrs via offeri...,"[(Topics, 3.0), (Places, 2.0), (Peoples, 1.0), (Exchanges, 1.0), (Organizations, 0.0)]","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
432,third quarter ended august 31 group shr 3492 yen vs 3474 group shr per ads 6984 vs 6948 net 420 ...,"[(Places, 2.0), (Topics, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
433,senate agriculture committee voted limit changes county loan rate differentials starting 1988 cr...,"[(Places, 1.0), (Topics, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
434,federal reserve board vicechairman manuel johnson cautioned seeking quickfix solutions persisten...,"[(Topics, 4.0), (Places, 4.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 3), (Exchanges, 1), (Places, 0), (Peoples, 0), (Organizations, 0)]"
435,swiss banking commission hopes introduce major reform banking system january would revolutionise...,"[(Places, 9.0), (Topics, 5.0), (Organizations, 2.0), (Peoples, 0.0), (Exchanges, 0.0)]","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
436,republic national bank new york unit republic new york corp offering 100 mln dlrs notes due 1989...,"[(Topics, 2.0), (Exchanges, 1.0), (Places, 0.0), (Peoples, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
437,infotron systems corp said james c castle named president chief executive officer succeeding jam...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
438,supreme court let stand ruling northrop corp noc must pay 31 mln dlrs company controlled saudi b...,"[(Places, 3.0), (Topics, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
439,egypt agreed build two new roads uganda worth total 295 mln dlrs egyptian commercial attache muh...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Places, 9), (Topics, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
440,investor donald knutson said filed suit first northern savings loan association green bay statin...,"[(Topics, 2.0), (Places, 2.0), (Organizations, 1.0), (Peoples, 0.0), (Exchanges, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
441,new york stock exchange said confident computer systems handle pace trading volume today confide...,"[(Topics, 1.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Exchanges, 2), (Peoples, 1), (Topics, 0), (Places, 0), (Organizations, 0)]"
442,yugoslav prime minister branko mikulic unveiling new draft economic program said yugoslavia woul...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Peoples, 6), (Places, 5), (Topics, 4), (Exchanges, 0), (Organizations, 0)]"
443,shr 217 dlrs vs 142 dlrs net 24 907 000 vs 16 117 000 nine mths shr 405 dlrs vs 375 dlrs net 47 ...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
444,reserve bank india said tightening credit policy commercial banks raising cash reserve ratio 05 ...,"[(Topics, 1.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Peoples, 2), (Places, 1), (Topics, 0), (Exchanges, 0), (Organizations, 0)]"
445,unidentified jets attacked three iranian oil rigs southern gulf early monday setting least one a...,"[(Places, 2.0), (Topics, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Places, 3), (Topics, 2), (Peoples, 1), (Exchanges, 0), (Organizations, 0)]"
446,tdk corp tdkt said sales rose 36 pct three months ended august 31 due better sales electronic ma...,"[(Topics, 1.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 3), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
447,clear indication emerged victor race succeed prime minister yasuhiro nakasone political analysts...,"[(Topics, 2.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Peoples, 11), (Places, 1), (Topics, 0), (Exchanges, 0), (Organizations, 0)]"
448,norwegian computer company norsk data norkol said weak sales outside europe forced lower 1987 pr...,"[(Topics, 1.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Places, 2), (Topics, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
449,bank japan sell 800 billion yen bills holdings tuesday help absorb projected money market surplu...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 4), (Places, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
450,group seven g7 industrial nations still comply last februarys louvre accord stabilize currencies...,"[(Topics, 4.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 10), (Places, 8), (Peoples, 1), (Exchanges, 0), (Organizations, 0)]"
451,saudi arabia likely remain key supplier liquefied petroleum gas lpg japan least next five years ...,"[(Topics, 2.0), (Exchanges, 1.0), (Places, 0.0), (Peoples, 0.0), (Organizations, 0.0)]","[(Places, 10), (Topics, 7), (Exchanges, 3), (Peoples, 0), (Organizations, 0)]"
452,den norske stats oljeselskap statoil statol operator norways north sea veslefrikk oil field plac...,"[(Topics, 2.0), (Exchanges, 2.0), (Places, 0.0), (Peoples, 0.0), (Organizations, 0.0)]","[(Topics, 6), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
453,lebanons bankers association said extended suspension trading lebanese pound two working days st...,"[(Topics, 3.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
454,karl otto poehl head west germanys central bank finance minister gerhard stoltenberg normally mu...,"[(Topics, 3.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Peoples, 21), (Topics, 6), (Places, 0), (Exchanges, 0), (Organizations, 0)]"
455,huge oil platforms dot gulf like beacons usually lit like christmas trees night one sitting astr...,"[(Topics, 1.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Places, 12), (Topics, 3), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
456,commodity futures trading commission cftc said kansas city board trades kcbt oneminute audit tra...,"[(Topics, 3.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
457,soviet planning chief nikolai talyzin told supreme soviet parliament industrial output planned r...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 3), (Peoples, 1), (Places, 0), (Exchanges, 0), (Organizations, 0)]"
458,shr profit 55 cts vs loss 12 cts net profit 3 998 000 vs loss 915 000 sales 938 mln vs 809 mln n...,"[(Topics, 0.0), (Places, 0.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
459,american stock exchange said introduced options expirations three years institutional index tick...,"[(Topics, 1.0), (Places, 1.0), (Peoples, 0.0), (Exchanges, 0.0), (Organizations, 0.0)]","[(Exchanges, 3), (Topics, 0), (Places, 0), (Peoples, 0), (Organizations, 0)]"