In [2]:
#read datafolder from Google Drive
from google.colab import drive
drive.mount('/content/drive')
data_folder = '/content/drive/My Drive/reuters21578/'


sgml_number_of_files = 21
sgml_file_name_template = 'reut2-NNN.sgm'

# Category files
category_files = {
    'to_': ('Topics', 'all-topics-strings.lc.txt'),
    'pl_': ('Places', 'all-places-strings.lc.txt'),
    'pe_': ('People', 'all-people-strings.lc.txt'),
    'or_': ('Organizations', 'all-orgs-strings.lc.txt'),
    'ex_': ('Exchanges', 'all-exchanges-strings.lc.txt')
}

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [0]:
# Create category dataframe

# Read all categories
category_data = []
category_dictionary={'Topics':[],'Places':[],'People':[],'Organizations':[],'Exchanges':[]}
for category_prefix in category_files.keys():
    with open(data_folder + category_files[category_prefix][1], 'r') as file:
        for category in file.readlines():
            category_data.append([category_prefix + category.strip().lower(), 
                                  category_files[category_prefix][0]])

# Create category dataframe
for i in category_data:
#     print(i[1])
    category_dictionary[i[1]].append(i[0].split('_')[1])
news_categories = pd.DataFrame(data=category_data)

# print "category_data: ", category_data
#(news_categories.values).tolist()

In [6]:
import re
import xml.sax.saxutils as saxutils
from bs4 import BeautifulSoup
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
lemmatizer = WordNetLemmatizer()

REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;\\n]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def cleanUpSentence(r):#, stop_words = None#
    r = r.lower().replace("<br />", " ")
    r = REPLACE_BY_SPACE_RE.sub(' ', r)
    r = BAD_SYMBOLS_RE.sub('', r)

    r = ' '.join(word for word in r.split() if word not in STOPWORDS)

    words = word_tokenize(r)

    for w in words:
        w = lemmatizer.lemmatize(w)

    return r

In [0]:
# Parse SGML files
def strip_tags(text):
    return re.sub('<[^<]+?>', '', text).strip()

def unescape(text):
    return saxutils.unescape(text)
  
def makeDict(filename, document_X):
  with open(filename, 'rb') as file:

    content = BeautifulSoup(file.read().lower(),'html.parser')

    for newsline in content('reuters'):
      document_categories = []

      document_id = newsline['newid']
      document_body = strip_tags(str(newsline('text')[0].body)).replace('reuter\n&#3;', '')
      if document_body == 'None':
        continue

      doc_categories = strip_tags(str(newsline('topics')[0].body))
      doc_categories = unescape(doc_categories)

      document_body = unescape(document_body)

      document_X[document_id] = document_body

def readFiles(test_data = False):
  document_X = {}
  
  if test_data == True:
    file_name = sgml_file_name_template.replace('NNN', '021')
    filename = data_folder + file_name
    makeDict(filename, document_X)
  else:
    for i in range(sgml_number_of_files):
      if i < 10:
        seq = '00' + str(i)
      else:
        seq = '0' + str(i)

      file_name = sgml_file_name_template.replace('NNN', seq)
      print('Reading file: %s' % file_name)
      filename = data_folder + file_name
      makeDict(filename, document_X)
  return document_X

In [9]:
document_X= readFiles()

Reading file: reut2-000.sgm
Reading file: reut2-001.sgm
Reading file: reut2-002.sgm
Reading file: reut2-003.sgm
Reading file: reut2-004.sgm
Reading file: reut2-005.sgm
Reading file: reut2-006.sgm
Reading file: reut2-007.sgm
Reading file: reut2-008.sgm
Reading file: reut2-009.sgm
Reading file: reut2-010.sgm
Reading file: reut2-011.sgm
Reading file: reut2-012.sgm
Reading file: reut2-013.sgm
Reading file: reut2-014.sgm
Reading file: reut2-015.sgm
Reading file: reut2-016.sgm
Reading file: reut2-017.sgm
Reading file: reut2-018.sgm
Reading file: reut2-019.sgm
Reading file: reut2-020.sgm

In [10]:
# data preprocessing
import numpy as np

nltk.download('punkt')
nltk.download('wordnet')

def create_x_matrix(document_X):
    totalX = []
    for i, doc in document_X.items():
        totalX.append(cleanUpSentence(doc))
    max_vocab_size = 200
    input_tokenizer = Tokenizer(200)
    input_tokenizer.fit_on_texts(totalX)
    encoded_docs = input_tokenizer.texts_to_matrix(totalX, mode='count')
    return totalX,encoded_docs

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [0]:
totalX,encoded_docs=create_x_matrix(document_X)

In [0]:
#Create one-hot encode
def makeOneHotEncoding(totalX):
  words_in_body={}

  for i in range(len(totalX)):
      words=totalX[i].split(' ')
      words_in_body[i]=words    

  one_hot_label=[]
  for key,v in words_in_body.items():
      dict_temp={'Topics':0,'Places':0,'People':0,'Exchanges':0,'Organizations':0}
      for i in v:
          if i in category_dictionary['Topics']:
              dict_temp['Topics']+=1
          if i in category_dictionary['Places']:
              dict_temp['Places']+=1
          if i in category_dictionary['People']:
              dict_temp['People']+=1
          if i in category_dictionary['Exchanges']:
              dict_temp['Exchanges']+=1
          if i in category_dictionary['Organizations']:
              dict_temp['Organizations']+=1

      one_hot_label.append(dict_temp)


  one_hot_label_list = []
  for i in one_hot_label:

      one_hot_label_list.append(list(i.values()))
  return one_hot_label_list

In [0]:
one_hot_label_list = makeOneHotEncoding(totalX)

In [14]:
from keras.models import Sequential
from keras.layers import Dense,Flatten, Dropout,Embedding
nn = Sequential()
max_vocab_size = 200
nn.add(Embedding(200, 20, input_length=max_vocab_size))
nn.add(Dense(10, activation="relu", input_shape=(max_vocab_size,)))
nn.add(Dropout(0.15))
nn.add(Flatten())
nn.add(Dense(5,activation="softmax"))
nn.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
nn.fit(np.array(encoded_docs), np.array(one_hot_label_list), batch_size=16, epochs=5,
          verbose=1, validation_split=0.2)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 14866 samples, validate on 3717 samples
Epoch 1/5
14866/14866 [==============================] - 4s 271us/step - loss: 3.1030 - acc: 0.8064 - val_loss: 3.1688 - val_acc: 0.7681
Epoch 2/5
14866/14866 [==============================] - 3s 217us/step - loss: 2.7796 - acc: 0.8147 - val_loss: 3.1070 - val_acc: 0.8036
Epoch 3/5
14866/14866 [==============================] - 3s 215us/step - loss: 2.7289 - acc: 0.8160 - val_loss: 3.0813 - val_acc: 0.7963
Epoch 4/5
14866/14866 [==============================] - 3s 217us/step - loss: 2.6849 - acc: 0.8144 - val_loss: 3.1077 - val_acc: 0.7926
Epoch 5/5
14866/14866 [==============================] - 3s 216us/step - loss: 2.6730 - acc: 0.8163 - val_loss: 3.1256 - val_acc: 0.8017

In [15]:
test_document_X = readFiles(test_data=True)
print(len(test_document_X))

460

In [16]:
test_total_X,test_encoded_X= create_x_matrix(test_document_X)
ground_truth_list = makeOneHotEncoding(test_total_X)
y = nn.predict(test_encoded_X)
print (y)

[[0.6975935  0.23532636 0.06036903 0.00425747 0.00245368]
 [0.21824951 0.5924399  0.04819081 0.0190319  0.12208779]
 [0.62695247 0.16869038 0.01963355 0.16197604 0.02274759]
 ...
 [0.6742106  0.21160336 0.05422151 0.03391149 0.02605302]
 [0.54931617 0.13644356 0.25580564 0.03680801 0.02162661]
 [0.8240941  0.11596978 0.04066919 0.00500179 0.01426519]]

In [0]:
def permissible(x, y):
  if (abs(x-y)) < 2:
    return True
  else:
    return False

def accuracy(predicted,actual):
    tp=0
    fp = 0
    tp_list = []
    length = len(actual)
    print("length: ",length)
    for one_doc_idx in range(length):
        if permissible(predicted[one_doc_idx][0],actual[one_doc_idx][0]) and permissible(predicted[one_doc_idx][1],actual[one_doc_idx][1])\
          and permissible(predicted[one_doc_idx][2],actual[one_doc_idx][2]) and permissible(predicted[one_doc_idx][3],actual[one_doc_idx][3]):
            tp+=1
            x = tp
        else:
          fp = 0
          x = fp
        tp_list.append(x)
    return tp/float(length), tp_list

In [23]:
def getRankedOutput2(predicted_y):
    all_sorted_x = []
    for i in predicted_y:
        dict_temp={'Topics':i[0],'Places':i[1],'Peoples':i[2],'Exchanges':i[3],'Organizations':i[4]}
        sorted_x = sorted(dict_temp.items(), key=lambda kv: kv[1], reverse=True) 
        all_sorted_x.append(sorted_x)
    return all_sorted_x
   
acc, tpl = accuracy(y.tolist(), ground_truth_list)
print ("%f"%acc)
predicted_ranked_output = getRankedOutput2(y)
actual_ranked_output=getRankedOutput2(np.array(ground_truth_list))

length:  460
0.836957

In [25]:
my_df  = pd.DataFrame(columns = ['body', 'predicted ranking', 'actual ranking', '_'])
my_df['body'] = test_total_X
my_df['predicted ranking'] = predicted_ranked_output 
my_df['actual ranking'] = actual_ranked_output
my_df['_'] = tpl
my_df = my_df.sort_values(by='_', ascending=False).reset_index(drop=True)
my_df[['body', 'predicted ranking', 'actual ranking']]

,body,predicted ranking,actual ranking
0,prospect dominant alliance socialists environmentalists ended social democrats became biggest lo...,"[(Topics, 0.54931617), (Peoples, 0.25580564), (Places, 0.13644356), (Exchanges, 0.036808014), (O...","[(Places, 1), (Topics, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
1,japan indiapakistangulf japan shipping conference said would cut extra risk insurance surcharges...,"[(Topics, 0.5489513), (Places, 0.21144019), (Peoples, 0.12870106), (Organizations, 0.06722341), ...","[(Places, 2), (Topics, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
2,announcement alliant computer systems inc alnt new lowend nearsupercomputer eta systems incs unv...,"[(Topics, 0.87316465), (Peoples, 0.08629847), (Places, 0.03947987), (Exchanges, 0.0005884729), (...","[(Exchanges, 1), (Topics, 0), (Places, 0), (Peoples, 0), (Organizations, 0)]"
3,chase corp ltd chcawe said make offer fullypaid shares options entregrowth international ltd alr...,"[(Topics, 0.76869494), (Peoples, 0.11431231), (Places, 0.10133135), (Organizations, 0.008115127)...","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
4,thai rice exports rose 72 987 tonnes week ended october 13 54 075 previous week commerce ministr...,"[(Topics, 0.71939373), (Places, 0.21160325), (Peoples, 0.033978138), (Organizations, 0.01975558)...","[(Topics, 2), (Places, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
5,orders nonfuel imports placed august rose seasonally adjusted 149 pct compared 10 pct rise july ...,"[(Topics, 0.7383529), (Places, 0.14346597), (Peoples, 0.059946857), (Exchanges, 0.04035937), (Or...","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
6,new zealand imposed sanctions fiji response countrys change status republic acting prime ministe...,"[(Topics, 0.81435114), (Places, 0.13082984), (Peoples, 0.027723568), (Organizations, 0.02084625)...","[(Topics, 2), (Places, 2), (Organizations, 2), (Peoples, 1), (Exchanges, 0)]"
7,iranian president ali khamenei said doubted us position take violent action iran gulf tehran rad...,"[(Topics, 0.5673014), (Places, 0.3442791), (Peoples, 0.052142795), (Organizations, 0.02934644), ...","[(Places, 2), (Peoples, 1), (Organizations, 1), (Topics, 0), (Exchanges, 0)]"
8,philippines trade deficit widened 542 mln dlrs eight months endaugust 159 mln dlrs 1986 period n...,"[(Topics, 0.56173074), (Places, 0.20413257), (Peoples, 0.14716542), (Organizations, 0.053770676)...","[(Topics, 2), (Places, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
9,nippon shinpan co ltd nshtt agreed mastercard international issue new credit card called nippon ...,"[(Topics, 0.76745623), (Places, 0.13644867), (Peoples, 0.039462466), (Organizations, 0.028560566...","[(Places, 1), (Topics, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
10,continental airlines inc said frontier airlines bought last year sought approval us bankruptcy c...,"[(Topics, 0.6016627), (Places, 0.32195953), (Peoples, 0.038139414), (Exchanges, 0.022150055), (O...","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
11,french finance minister edouard balladur issued firm call continued faithful application louvre ...,"[(Topics, 0.6679462), (Places, 0.29650658), (Exchanges, 0.01438679), (Peoples, 0.013008278), (Or...","[(Peoples, 2), (Topics, 1), (Places, 0), (Exchanges, 0), (Organizations, 0)]"
12,third quarter ended august 31 group shr 3492 yen vs 3474 group shr per ads 6984 vs 6948 net 420 ...,"[(Topics, 0.58163965), (Places, 0.2985269), (Peoples, 0.074487716), (Exchanges, 0.025248298), (O...","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
13,nine months ended august 31 group shr 11866 yen vs 10089 yen group shr per ads 23732 vs 20178 ne...,"[(Topics, 0.72219276), (Places, 0.16646871), (Peoples, 0.053257696), (Exchanges, 0.035964005), (...","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
14,norwegian computer company norsk data norkol said weak sales outside europe forced lower 1987 pr...,"[(Topics, 0.8421521), (Places, 0.08627055), (Peoples, 0.034116108), (Exchanges, 0.026916489), (O...","[(Places, 2), (Topics, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
15,lebanons bankers association said extended suspension trading lebanese pound two working days st...,"[(Topics, 0.4542546), (Places, 0.41903007), (Peoples, 0.07180613), (Organizations, 0.029612899),...","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
16,equiticorp holdings ltd equwwe owns received acceptances representing 5993 pct issued ordinary s...,"[(Topics, 0.5848516), (Places, 0.19825323), (Peoples, 0.10921448), (Exchanges, 0.05618536), (Org...","[(Topics, 0), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
17,british printing communication corporation plc bpcll proposed cancellation preference shares ret...,"[(Topics, 0.6993776), (Places, 0.21411166), (Peoples, 0.037361693), (Organizations, 0.034607746)...","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
18,philippine 1987 inflation rate rise 48 pct 074 pct 1986 government implements employers associat...,"[(Topics, 0.97005033), (Places, 0.0229582), (Peoples, 0.0033658491), (Organizations, 0.003087124...","[(Topics, 1), (Places, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
19,swedish export credit corp sek raising 300 mln luxembourg francs three year private placement le...,"[(Topics, 0.68779063), (Places, 0.17393832), (Peoples, 0.06909916), (Organizations, 0.038712528)...","[(Places, 2), (Topics, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
20,lloyds shipping intelligence service said british bulk carrier envoy 75 453 tonnes dw grounded m...,"[(Topics, 0.7164666), (Places, 0.17129472), (Peoples, 0.046347804), (Exchanges, 0.034081902), (O...","[(Places, 2), (Topics, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
21,finnish state launched two bonds totalling one billion markka loan periods 10 years five years a...,"[(Peoples, 0.6504716), (Topics, 0.23199712), (Places, 0.110533275), (Exchanges, 0.0040648524), (...","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
22,cyprus vessel fearless 31 841 tonnes dw fire grounded towed yantai china august cargo reloaded c...,"[(Topics, 0.7967474), (Places, 0.12264148), (Peoples, 0.048583202), (Exchanges, 0.02089406), (Or...","[(Places, 2), (Topics, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
23,raffles city pte ltd said signed 10 year note issuance facility nif monday raise 500 mln singapo...,"[(Topics, 0.6325879), (Places, 0.23576674), (Peoples, 0.058938432), (Organizations, 0.048011407)...","[(Places, 2), (Topics, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
24,west german finance ministry declined comment weekend criticism us treasury secretary james bake...,"[(Topics, 0.49989894), (Places, 0.461072), (Organizations, 0.016544264), (Peoples, 0.015919624),...","[(Topics, 2), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
25,norways current account showed 99 billion crown deficit first seven months 1987 197 billion crow...,"[(Topics, 0.6618803), (Places, 0.21804202), (Peoples, 0.057896458), (Exchanges, 0.034196313), (O...","[(Topics, 1), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
26,main road kampala kenya border ugandas important trade artery reopened civilian traffic saturday...,"[(Topics, 0.58791584), (Places, 0.19098377), (Peoples, 0.14943813), (Organizations, 0.03667157),...","[(Topics, 2), (Places, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
27,king baudouin expected accept resignation belgian prime minister wilfried martenss centreright c...,"[(Topics, 0.6761998), (Places, 0.21198335), (Organizations, 0.0559729), (Peoples, 0.03964108), (...","[(Peoples, 2), (Topics, 0), (Places, 0), (Exchanges, 0), (Organizations, 0)]"
28,hyundai auto canada inc unit south koreas hyundai motor co hyunse expected award chemical asia l...,"[(Topics, 0.500349), (Places, 0.37962794), (Exchanges, 0.09018208), (Peoples, 0.015907474), (Org...","[(Topics, 2), (Places, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
29,french finance minister edouard balladur issued firm call continued faithful application louvre ...,"[(Topics, 0.6679462), (Places, 0.29650658), (Exchanges, 0.01438679), (Peoples, 0.013008278), (Or...","[(Peoples, 2), (Topics, 1), (Places, 0), (Exchanges, 0), (Organizations, 0)]"
...,...,...,...
430,military experts say united states faces dilemma gulf following us destruction iranian oil platf...,"[(Topics, 0.5959838), (Places, 0.282262), (Peoples, 0.08914729), (Organizations, 0.023368929), (...","[(Places, 9), (Peoples, 2), (Topics, 0), (Exchanges, 0), (Organizations, 0)]"
431,us attack iranian oil platform gulf monday appeared titfortat raid carefully orchestrated provoc...,"[(Topics, 0.55773973), (Places, 0.22359835), (Peoples, 0.18893665), (Organizations, 0.01862973),...","[(Places, 6), (Peoples, 2), (Topics, 0), (Exchanges, 0), (Organizations, 0)]"
432,canada development corp said polysar ltd unit completed refinancing package worth 830 mln canadi...,"[(Topics, 0.62695247), (Places, 0.16869038), (Exchanges, 0.16197604), (Organizations, 0.02274759...","[(Topics, 4), (Places, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
433,arizona silver corp said diamond drilling burro creek mine property located 65 miles southeast k...,"[(Topics, 0.8258352), (Places, 0.0982963), (Peoples, 0.036377247), (Exchanges, 0.02137434), (Org...","[(Topics, 4), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
434,british sugar plc forced shut ipswich sugar factory sunday afternoon due acute shortage beet sup...,"[(Topics, 0.51576936), (Peoples, 0.35096228), (Places, 0.11563973), (Exchanges, 0.008974132), (O...","[(Topics, 11), (Places, 2), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
435,phelps dodge corp said net earnings nearly tripled third quarter sharply higher copper prices in...,"[(Topics, 0.95968354), (Places, 0.035992596), (Organizations, 0.0026888717), (Peoples, 0.0014824...","[(Topics, 4), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
436,todays sharp selloff swiss stocks matching falls around europe may overdone mood financial marke...,"[(Peoples, 0.36192262), (Topics, 0.3179862), (Places, 0.23281816), (Organizations, 0.075246125),...","[(Peoples, 5), (Topics, 4), (Places, 1), (Exchanges, 0), (Organizations, 0)]"
437,thai traders plan establish company regulate maize forward trading could first step towards comm...,"[(Topics, 0.85117334), (Places, 0.08383), (Organizations, 0.03578763), (Exchanges, 0.015134777),...","[(Topics, 3), (Places, 1), (Exchanges, 1), (Peoples, 0), (Organizations, 0)]"
438,us television networks said monday us forces launched retaliatory strike iran late sunday appare...,"[(Topics, 0.47784397), (Places, 0.33396417), (Peoples, 0.13575642), (Exchanges, 0.028155018), (O...","[(Places, 4), (Topics, 2), (Peoples, 1), (Exchanges, 0), (Organizations, 0)]"
439,thriving market luxembourg franc bond issues temporarily stalled belgian government crisis put f...,"[(Topics, 0.8333546), (Places, 0.12982653), (Peoples, 0.023721991), (Organizations, 0.0093032075...","[(Places, 8), (Topics, 5), (Peoples, 4), (Exchanges, 1), (Organizations, 0)]"
440,shr 52 cts vs 43 cts net 177 mln vs 142 mln sales 4131 mln vs 3616 mln avg shrs 343 mln vs 303 m...,"[(Topics, 0.91219556), (Places, 0.06202364), (Peoples, 0.013546743), (Exchanges, 0.006341881), (...","[(Topics, 3), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
441,saudi arabia likely remain key supplier liquefied petroleum gas lpg japan least next five years ...,"[(Topics, 0.98779607), (Places, 0.007039355), (Peoples, 0.0040678447), (Organizations, 0.0007334...","[(Places, 10), (Topics, 7), (Exchanges, 3), (Peoples, 0), (Organizations, 0)]"
442,unidentified jets attacked three iranian oil rigs southern gulf early monday setting least one a...,"[(Topics, 0.66114384), (Places, 0.17110965), (Peoples, 0.12490407), (Exchanges, 0.027469218), (O...","[(Places, 3), (Topics, 2), (Peoples, 1), (Exchanges, 0), (Organizations, 0)]"
443,south koreas national news agency yonhap said years current account surplus near 10 billion dlrs...,"[(Topics, 0.7290355), (Peoples, 0.12612073), (Places, 0.12211504), (Exchanges, 0.011551193), (Or...","[(Topics, 5), (Exchanges, 1), (Places, 0), (Peoples, 0), (Organizations, 0)]"
444,us warships attacked destroyed iranian oil platform monday retaliation fridays iranian attack da...,"[(Topics, 0.6873113), (Places, 0.23076484), (Peoples, 0.051536918), (Exchanges, 0.015639529), (O...","[(Places, 3), (Topics, 1), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
445,oper shr loss 82 cts vs profit 12 cts oper net loss 4 134 000 vs profit 544 000 avg shrs 5 030 0...,"[(Topics, 0.827415), (Places, 0.11003331), (Peoples, 0.0527453), (Exchanges, 0.007772333), (Orga...","[(Topics, 3), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
446,soviet planning chief nikolai talyzin told supreme soviet parliament industrial output planned r...,"[(Topics, 0.71588826), (Places, 0.22422093), (Organizations, 0.03867113), (Exchanges, 0.01752767...","[(Topics, 3), (Peoples, 1), (Places, 0), (Exchanges, 0), (Organizations, 0)]"
447,nui corp said studying feasibility spinning nonutility subsidiaries shareholders company said pr...,"[(Topics, 0.74607384), (Places, 0.14017688), (Organizations, 0.07470478), (Peoples, 0.029038392)...","[(Topics, 5), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
448,salomon brothers inc withdrawing market maker euroyen bonds contrary strong market rumours circu...,"[(Topics, 0.6513803), (Exchanges, 0.17849004), (Places, 0.13346808), (Organizations, 0.020728493...","[(Peoples, 4), (Topics, 2), (Organizations, 2), (Places, 0), (Exchanges, 0)]"
449,turkeys current account deficit widened july 674 mln dlrs 454 mln june fell 122 billion july las...,"[(Topics, 0.74643403), (Places, 0.18801847), (Peoples, 0.034862876), (Organizations, 0.019489842...","[(Topics, 3), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
450,australian minister trade negotiations michael duffy said country third world commodity producer...,"[(Places, 0.5320082), (Topics, 0.36772084), (Organizations, 0.040981196), (Exchanges, 0.03175251...","[(Topics, 5), (Places, 2), (Organizations, 2), (Peoples, 1), (Exchanges, 0)]"
451,security pacific corp spc said growth thirdquarter earnings slowed purchase rainier bancorp susp...,"[(Topics, 0.48913035), (Places, 0.44246942), (Peoples, 0.062287305), (Organizations, 0.005787027...","[(Topics, 10), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
452,calfed inc said strong loan volume higher net increase income principal subsidiary california fe...,"[(Topics, 0.82395315), (Places, 0.16110434), (Peoples, 0.007374874), (Organizations, 0.004719766...","[(Topics, 8), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
453,us energy secretary john herrington arrived rabat monday tour gulf middle east herrington schedu...,"[(Topics, 0.5023057), (Places, 0.36134806), (Peoples, 0.06828663), (Organizations, 0.04486612), ...","[(Places, 6), (Peoples, 3), (Topics, 0), (Exchanges, 0), (Organizations, 0)]"
454,official soviet news agency tass denounced us attack iranian oildrilling platform gulf monday mi...,"[(Topics, 0.53313804), (Places, 0.2618965), (Peoples, 0.122340836), (Exchanges, 0.04636593), (Or...","[(Places, 6), (Peoples, 2), (Topics, 0), (Exchanges, 0), (Organizations, 0)]"
455,shr primary 68 cts vs 34 cts shr diluted 65 cts vs 34 cts net 1297 mln vs 529 mln revs 222 billl...,"[(Topics, 0.9502281), (Places, 0.042944215), (Peoples, 0.003923588), (Exchanges, 0.0019607176), ...","[(Topics, 3), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
456,financial corp america reporting third quarter loss said gains sale loans mortgagebacked securit...,"[(Topics, 0.66548616), (Places, 0.31207025), (Peoples, 0.014030355), (Organizations, 0.008118352...","[(Topics, 4), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
457,recent sharp rise us interest rates sparked turmoil fixedincome markets underwriters said doubt ...,"[(Topics, 0.97960335), (Places, 0.017794568), (Exchanges, 0.0020041182), (Peoples, 0.00048682358...","[(Topics, 9), (Peoples, 3), (Exchanges, 1), (Places, 0), (Organizations, 0)]"
458,west german government sources said bonn remained committed louvre accord stabilise currencies s...,"[(Topics, 0.7417204), (Places, 0.22899035), (Organizations, 0.0135883875), (Peoples, 0.010621102...","[(Topics, 3), (Places, 0), (Peoples, 0), (Exchanges, 0), (Organizations, 0)]"
459,american stock exchange said introduced options expirations three years institutional index tick...,"[(Topics, 0.8240941), (Places, 0.11596978), (Peoples, 0.04066919), (Organizations, 0.014265193),...","[(Exchanges, 3), (Topics, 0), (Places, 0), (Peoples, 0), (Organizations, 0)]"